
@{
    Layout = null;
}

<header>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebGatos.styles.css" asp-append-version="true" />
</header>
<body>
    <h1>GATO WEB</h1>
    <a asp-action="Mostrar">hechos</a>
    <a asp-action="Paginas">paginas</a>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>



